{% extends 'website/base.html' %}

{% block banner %}
<div id="banner"></div>
{% endblock %}

{% block content %}

<div id="page" class="container">
	<div class="boxA">
		<h2>Криптовалюты</h2>
		<div class="box">
			<a href="{% url 'crypt' %}"><div class="image image-full"></div></a>
		</div>
		<p>Прогнозы по основным криптовалютам, включая Bitcoin, Ethereum, Litecoin и т.д.</p>
		<a href="{% url 'crypt' %}" class="button">Далее</a>
	</div>
	<div class="boxB">
		<h2>Акции</h2>
		<div class="box">
			<a href="{% url 'crypt' %}"><div class="image image-full1"></div></a>
		</div>
		<p>Прогнозы по основным акциям, включая Apple, Microsoft, Tesla Inc. и т.д.</p>
		<a href="{% url 'crypt' %}" class="button">Далее</a>
	</div>
</div>

{% endblock %}